@charset "utf-8";
header{position: sticky; top: 0; width: 100%; background: #fff; padding-top: 1em; z-index: 10;}
.header-wrap{position: relative; width: 100%; height: var(--header-size); display: flex; align-items: center; justify-content: space-between; border-top: 2px solid #333; border-bottom: 2px solid #333;}
.gnb{display: flex;}
.gnb >li{}
.gnb >li >a{display: block;font-size: 18px;font-size: 1.125em;font-weight: 700;min-width: 100px;text-align: center;text-transform: uppercase;transition: .3s all ease-in-out; color: #333; padding: 0 10px;}
.gnb .active a{color: #fff;font-weight: 900;text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;letter-spacing: 2px;}


.section{width: 100%;}
.layout{padding-top: 80px; padding-bottom: 80px;}

#section1{}
.headline{text-align: center; border-bottom: 1px solid #333; position: relative; overflow: hidden; height: 300px;}
.headline p{font-size: 6vw; font-weight: 900; color: #333; letter-spacing: 3px; white-space: nowrap; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
.intro{padding-top: 3em; padding-bottom: 3em; display: flex; flex-wrap: wrap; align-items: center;}
.intro .img{width: 500px;height: 500px;background: url('../img/myEmoji.gif') no-repeat center top / 135%;}
.intro .img >img{
    display: block;
    width: 104%;
}
.intro .cont{width: 100%; flex: 1;}
.intro .tit{font-weight: 700; font-size: 30px; font-size: 1.875em; margin-bottom: 1em; color: #333;}
.intro .desc{
    word-break: keep-all;
}

.main-tit{font-size: 40px; font-size: 2.5em; font-weight: 900; color: #333; margin-bottom: 0.5em;}
.skill-list{}
.skill-list > ul{display: flex; flex-wrap:wrap; border-top: 1px solid #ddd;}
.skill-list > ul > li{width: 100%; display: table; border-bottom: 1px solid #ddd; padding: 25px 0}
.skill-list .item > *{display: table-cell; vertical-align: middle;}
.skill-list .item .ico{width: 150px; text-align: center;}
.skill-list .item .ico i{display: block; font-size: 30px; font-size: 1.875em; color: #333;}
.skill-list .item .ico strong{display: block; font-size: 14px; font-size: 0.875em; color: #aaa; margin-top: 10px;}
.skill-list .item:hover{background: #f7f7f7}
.skill-list .item:hover .ico i{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0%{transform: rotate(0);}
  50%{transform: rotate(10deg);}
  100%{transform: rotate(0);}
}

.fade-g > *{opacity:0; transform: translateY(1.35rem); transition: all cubic-bezier(.215,.61,.355,1) .85s;; transition-delay: .1s;}
.fade-g.on > *.on{transform: translateY(0); opacity: 1;}

#section3{width: 100%; width: 100%; overflow: hidden;}
.project-wrap{width: 600%;height: 100vh;display: flex;flex-wrap: nowrap;}
.project{width: 100vw; height: 100vh; padding-top: 5em;}
.prj-wrap{display: flex;align-items: center;width: 100%;height: 100%;padding-left: 15%;}
.prj-cont{width: 400px;padding-right: 2.5em;}
.prj-cont .tit{}
.prj-cont .tit .sub{font-size: 14px; color: #aaa; font-weight: 700;}
.prj-cont .tit .main{font-size: 40px; font-size: 2.5em; font-weight: 700; color: #333;}
.prj-cont .desc{margin-top: 20px;}
.prj-cont .desc >li:not(:last-child){margin-bottom: 10px;}
.prj-cont .desc .t1{font-size: 22px; font-size: 1.375em; font-weight: 600; color: #333; margin-bottom: 5px;}
.prj-cont .desc .t2{}
.prj-cont .btn-view{display: block; width: 200px; line-height: 50px; text-align: center; border: 1px solid #666; margin-top: 50px;}
.prj-pic{width: 100%;flex: 1;box-shadow: 0 0 20px rgba(0, 0, 0, .3)}